body {
    margin: 0;
    font-family: "Lora", serif;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.5em;
    color: #212121;
    background-color: #f5f5f5;
}

.page {
    margin: 2em 10% 2em 5%;
}

.day {
    display: flex;
    margin: 2em 0;
}

.today_name {
    font-family: "Satisfy" !important;
    font-size: 4rem !important;
}

.day_name {
    font-family: "Libre Baskerville";
    width: 15rem;
    font-weight: 400;
    font-size: 2rem;
    margin: 0 5rem 0 0;
    text-align: right;
    flex-shrink: 0;
}

.day_content {
    flex-grow: 1;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list_item {
    margin: 0.5em 0;
    display: flex;
}

.list_item:first-child {
    margin-top: 0;
}

.list_item_icon {
    line-height: 1.1em; /* should be centered to the todo name, which is underlined (modifies line-height) */
    margin-right: 0.5em;
    color: #bcbcbc;
}

.list_item.active > .list_item_icon {
    visibility: hidden;
}

.list_item.active:hover > .list_item_icon {
    visibility: visible;
    color: #bcbcbc;
}

.list_item_content {
    display: inline-block;
    vertical-align: top;
}

.list_item.completed > .list_item_content {
    color: #bcbcbc;
}

.list_item_name {
    margin-right: 1em;
    display: flex;
}

.list_item_name_text {
    /* padding-right: 0.5em; */
}

.list_item_name_text.active {
    border-bottom: 0.15em solid #bcbcbc;
    display: inline-block;
    line-height: 1.1em;
}
.list_item_name_text.completed {
    line-height: 1.1em;
    border-bottom: 0.15em solid transparent;
}

.list_item_actions {
    margin-left: 0.5em;
    font-size: 1em;
    visibility: hidden;
    display: flex;
    line-height: 1.1em; /* should be centered to the todo name, which is underlined (modifies line-height) */
}

.list_item_content:hover > .list_item_name > .list_item_actions {
    visibility: visible;
}

.list_item_actions > span {
    margin-right: 0.3em;
}

.list_item_comment {
    margin-left: 1.5em;
}

.editable_text {
    word-break: break-all;
}

.new_todo {
    min-width: 2em;
    min-height: 1.1em;
}

.fas,
.far {
    font-size: 1.2rem;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 1.4em;
    }
    .page {
        margin: 1em 1em;
    }
    .day {
        margin: 1em 0;
    }
    .day_name {
        text-align: left;
        margin: 0 2rem 1rem 0;
    }
    .day_content {
        margin-left: 1em;
    }
}

@media only screen and (max-width: 450px) {
    body {
        font-size: 1.2em;
    }
    .day {
        display: block;
        margin-bottom: 3em;
    }
}
